{{ $height := .Scratch.Get "height"      }}
{{ $width  := .Scratch.Get "width"       }}
{{ $id     := .Scratch.Get "id"          }}
{{ $cypher := .Scratch.Get "cypher"      }}
{{ $layout := .Scratch.Get "layout"      }}
{{ $title  := .Scratch.Get "title"      }}

<div class="col">
    {{ if $title }}
    <h3>{{ $title }}</h3>
    {{ end }}
    <div class="viz" id="{{ $id }}"></div>
    <script>
        let neo = null
        $("#{{ $id }}").height({{ safeJS $height }});
        $("#{{ $id }}").width( {{ safeJS $width  }});
        $(function() {
            options =
                {
                    cypher : {{ $cypher  }} ,
                    id     : {{ $id      }} ,
                    layout : {{$layout   }}
                }
            neo = new neo4j_Util();
            neo.draw(options)
                .then(function(){
                    neo.viz._network.once('stabilized', function () {
                        if(window.afterLoad) {
                            window.afterLoad()
                        }
                    })
                });


        })
    </script>
</div>