{{ $height := .Scratch.Get "height"      }}
{{ $width  := .Scratch.Get "width"       }}
{{ $id     := .Scratch.Get "id"          }}
{{ $cypher := .Scratch.Get "cypher"      }}
{{ $layout := .Scratch.Get "layout"      }}
{{ $title  := .Scratch.Get "title"      }}

<div class="col" id="cypher-div">
    {{ if $title }}
    <h3>{{ $title }}</h3>
    {{ end }}

    <div class="viz" id="{{ $id }}"></div>
    <small>
        <span class="badge badge-pill badge-dark"  id="node_count">0</span> nodes
        <span class="badge badge-pill badge-dark"  id="edge_count">0</span> edges
        <i id="loading-spinner" class='fa fa-spinner fa-spin fa-fw'></i>
    </small>
</div>

<script>
    neo = null
    $("#{{ $id }}").height({{ safeJS $height }});
    $("#{{ $id }}").width( {{ safeJS $width  }});
    $(function() {
        options =
            {
                cypher : {{ $cypher  }} ,
                id     : {{ $id      }} ,
                layout : {{$layout   }}
            }
        neo = new neo4j_Util();
        neo.draw(options)
            .then(function(){
                if (neo.viz._network) {
                    neo.viz._network.once('stabilized', function () {
                        if (window.afterLoad) {
                            window.afterLoad()
                        }
                    })
                }
                else
                {
                    if (window.afterLoad) {
                        window.afterLoad()
                    }
                }
            });


    })
</script>
