{{ define "content" }}


{{ $neo4j_Url      := (default .Site.Data.neo4j_server.url      (getenv "Neo4J_Url"     )) }}
{{ $neo4j_Username := (default .Site.Data.neo4j_server.username (getenv "Neo4J_Username")) }}
{{ $neo4j_Password := (default .Site.Data.neo4j_server.password (getenv "Neo4J_Password")) }}


<h4>Current (client side) Server config</h4>

<ul>
    <li> <b>neo4j_Url</b> : {{ $neo4j_Url }}</li>
    <li> <b>neo4j_Username</b> : {{ $neo4j_Username }}</li>
    <li> <b>neo4j_Password</b> : {{ $neo4j_Password }}</li>
</ul>
{{ end }}