{{ .Scratch.Set "cypher" .Inner                             }}

{{ if  eq (printf "%T" .Params) "map[string]string"         }}
    {{ .Scratch.Set "id"     (default "viz" .Params.id )    }}
    {{ .Scratch.Set "width"  .Params.width                  }}
    {{ .Scratch.Set "height" .Params.height                 }}
    {{ .Scratch.Set "layout" .Params.layout                 }}
    {{ .Scratch.Set "title"  .Params.title                  }}
{{ else }}
    {{ .Scratch.Set "id"     "viz"                          }}
{{ end }}
{{ partial "neo4j/cypher.html" .      }}