{{ if  eq (printf "%T" .Params) "map[string]string"         }}
    {{ .Scratch.Set "height"  .Params.height                 }}
    {{ .Scratch.Set "autorun" .Params.autorun               }}
    {{ .Scratch.Set "view"    .Params.view                  }}
{{ end}}


{{ .Scratch.Set "query" (trim .Inner "\n") }}

{{ $height    := default 35    (.Scratch.Get "height")   }}
{{ $autorun   := default "yes" (.Scratch.Get "autorun")  }}
{{ $view      := .Scratch.Get "view"                     }}
{{ $code_div  := (printf "repl_%d" (index (seq 1000 | shuffle) 0) ) }}

{{ if eq (.Scratch.Get "query") ""                      }}
{{    .Scratch.Set "query" ($.Page.Params.cypher)       }}
{{ end                                                  }}

{{ $query     := .Scratch.Get "query"                   }}


<style>
    #textarea_{{safeJS $code_div}} {
        border-radius: .8rem;
        height: {{safeJS $height}}px;
        margin-left: 15px;
    }
    #cypher-query button {
        border-radius: .8rem;
        margin-right: 15px;
        margin-left: 15px;
    }
    .alert {
        border-radius: .8rem;
        margin-right: 15px;
        margin-left: 15px;
    }
</style>

<div class="form-group row" id="cypher-query">
    <div class="col-md-12">
        <div class="input-group">
            <textarea id="textarea_{{safeJS $code_div}}"
                      class="form-control">{{ $query }}</textarea>

            <span class="input-group-append">
                <button type="button"
                        class="btn btn-primary"
                        onClick="run_Query_{{safeJS $code_div}}()">
                            <i class="fa fa-search"></i>
                    Run Cypher
                </button>
            </span>
        </div>
    </div>
</div>
<div id="cypher-error-alert" class="alert alert-danger" role="alert" style="display:none">
    <strong>Cypher Error!</strong>
    <br><span id="cypher-error-text"></span>
</div>

<script>
    function run_Query_{{safeJS $code_div}}() {
        cypher = $('#textarea_{{safeJS $code_div}}').val()
        neo.run_query(cypher)
    }
    function afterLoad() {
        if ('{{$autorun}}'==='yes')             // once there is one, all will be afected
            run_Query_{{safeJS $code_div}}()
    }
    function get_Query_from_Url()
    {
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? decodeURIComponent(results[1].replace(/\+/g, " ")) || 0 : false;
        }
        cypher = $.urlParam('cypher')
        if (cypher )
        {
            $("#textarea_{{safeJS $code_div}}").val(cypher)
        }
    }
    // set it up so that the query is run on Cmd+Enter or Cmd+s
    jQuery(document).keydown(function(event) {
            if((event.ctrlKey || event.metaKey) && (event.which == 13 ||  event.which == 83)) {
                run_Query_{{safeJS $code_div}}()
                event.preventDefault();
                return false;
            }
        }
    );

    get_Query_from_Url()
</script>

{{ if eq $view "fullscreen"}}
    <style>
        body             { background-color: white    }
        #cypher-query    { padding: 5px ; margin: 0px }
        #content         { margin-left: 10px    }
    </style>
    <script>
        $('.app-header').hide()
        //$('h2').hide()
        $('.app-body').css( { margin: "0px"})
        $('.container-fluid').css( { padding: "0px"})
        $('.main').css( { margin : 0 })
        $('.sidebar').hide()
        $(function() {
            $('.app-footer').hide()
        });

    </script>
{{ end }}