<style>
    #neo4j-actions button {
        border-radius: .8rem;
        margin: 2px;
    }
    #action-target {
        width     :100%;
        height    :400px;
        background: white;
    }
</style>

<div class="row" id="neo4j-actions">
    <div class="col-6">
        <div id="accordion" role="tablist">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Admin actions
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <button type="button"
                                class="btn btn-primary"
                                onClick="neo4j_reset_db()">reset db</button>
                        <button type="button"
                                class="btn btn-primary"
                                onClick="neo4j_reset_db()">reset db</button>

                        <button type="button"
                                class="btn btn-primary"
                                onClick="create_all_gdpr()">create_all_gdpr</button>
                        <button type="button"
                                class="btn btn-primary"
                                onClick="create_all_risk()">create_all_risk</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-6">
        <iframe name="action-target"
                id="action-target"></iframe>
    </div>
</div>


<script>
    function open_action(target)
    {
        //target = "http://localhost:3000" + path
        $("#action-target").attr("src", target);
    }
    function neo4j_reset_db() {
        open_action('/api/neo4j/delete/all?pretty')
    }
    function create_nodes_for_issue() {
        open_action('' +
            '/api/neo4j/nodes/create/GDPR-223?pretty')
    }
    function create_all_gdpr() {
        open_action('' +
            '/api/neo4j/nodes/create-regex/GDPR-?pretty')
    }

    function create_all_risk() {
        open_action('' +
            '/api/neo4j/nodes/create-regex/RISK-?pretty')
    }



</script>

