<style>
    #neo4j-actions textarea {
        width        : 100%;
        height       : 350px;
        font-size    : 12px;
        border       : 0px solid;
        border-radius: .8rem;
        padding      : 10px;
    }
    #neo4j-actions {
        margin-left  : 5px;
        margin-right : 5px;
    }
</style>


<div class="row" id="neo4j-actions">
    <div class="col-6">
        <h4>Neo4J Received data</h4>
        <textarea id="neo4j-received-data"></textarea>
    </div>
    <div class="col-3">
        <h4>VisJs nodes</h4>
        <textarea id="neo4j-visjs-nodes"></textarea>
    </div>
    <div class="col-3">
        <h4>VisJs edges</h4>
        <textarea id="neo4j-visjs-edges"></textarea>
    </div>
</div>