{{ if  eq (printf "%T" .Params) "map[string]string"         }}
{{  .Scratch.Set "fields"     (default "" .Params.fields)   }}
{{ end                                                      }}

<script>
    var jira_fields = {{ safeJS (partial "toJson-from-array.html" .Params.jira_fields) }}
</script>


<style>
    #issue-data {
        background-color: white;
        height : 100%;
    }
</style>
<script>

    function on_Node_Selected(params) {
        _node = null
        if (params.nodes.length === 1) {
            id = params.nodes[0]
            nodes = neo.viz._network.body.data.nodes;
            node  = nodes.get(id)
            $('#issue_key'   ).html(node.key)
            $('#issue_labels').html(node.labels[0])
            process_Id(node.key)
        }
    }
    function process_Id(id)
    {
        url = "/api/jira/issue/" + id
        $.getJSON(url, function(data) {
            create_Table(data)
        })
    }
    function create_Table(data){

        table = $('<table class="table table-responsive-sm table-sm">')
        if (jira_fields.length > 0)
        {
            for (var i = 0; i < jira_fields.length; i++)
            {
                key = jira_fields[i]
                value = data[key] ? data[key] : ""
                value = apply_Filter(key,value)
                row = $('<tr><th>' + key + '</th><td>'+ value +'</d></tr>')
                table.append(row)
            }
        }
        else

            for(var key in data)
            {
                value = data[key]
                value = apply_Filter(key,value)
                row = $('<tr><th>' + key + '</th><td>'+ value +'</d></tr>')
                table.append(row)
            }

        _data = data
        $('#issue-data').html(table)
    }
    function apply_Filter(key, value)
    {
        jira_link = "https://jira.photobox.com/browse/"
        if (key === 'key')
            return "<a href=" + jira_link + value +" target='_blank'>" + value + "</a>"
        if (key === 'Linked Issues') {
            return JSON.stringify(value)            // todo:format this better
        }
        if (key==="Summary") {
            $('#issue_summary').html(value)
        }
        return value
    }
    function get_Query_from_Url()
    {
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? decodeURIComponent(results[1].replace(/\+/g, " ")) || 0 : false;
        }
        key = $.urlParam('key')
        if (key )
        {
            process_Id(key)
        }
    }

    get_Query_from_Url()
</script>

<div id="issue-data"></div>

