{{ define "content" }}

    <style type="text/css">
        #viz {
            width: 900px;
            height: 700px;
            border: 1px solid lightgray;
            font: 22pt arial;
        }
    </style>
    <script src="/js/neovis.js"></script>

    <div id="viz"></div>

<script type="text/javascript">

    var viz;

    function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://localhost:7687",
            server_user: "neo4j",
            server_password: "sorts-swims-burglaries",
            labels: {
                "Character": {
                    "caption": "name",
                    "size": "pagerank",
                    "community": "community"
                }
            },
            relationships: {
                "INTERACTS": {
                    "thickness": "weight",
                    "caption": false
                }
            },
            initial_cypher: "MATCH (n)-[r:INTERACTS]->(m) RETURN *"
        };

        viz = new NeoVis.default(config);
        viz.render();
    }

     //draw()
</script>
<h1>{{ .Params.title }}</h1>
<div>


    {{ .Content }}aaaa

</div>

{{ end }}