<!doctype html>
<html>
<head>
    <title>Neovis.js Simple Example</title>
    <style type="text/css">
        html, body {
            font: 16pt arial;
        }

        #viz {
            width: 900px;
            height: 700px;
            border: 1px solid lightgray;
            font: 22pt arial;
        }
    </style>
</head>
<body onload="draw()">
<div id="viz"></div>
<script src="/js/neovis.js"></script>
<script type="text/javascript">

    var viz;
    var nodes;
    var a

    function draw() {
        var config = {
            container_id: "viz",
            server_url: "bolt://localhost:7687",
            server_user: "neo4j",
            server_password: "test",
            caption: "key",
            labels: {
                //"Character": "name",
                "Data_Source": {
                    "caption": "key",
                    size     : 10
                }},
            relationships:
                {
                    "Data_touches": { thickness: 0.1 },
                    "Data_sources": { thickness: 0.5 }
                },
            //arrows: true,
            initial_cypher: "MATCH (n)-[r]->(m) RETURN n,r,m Limit 10"
        };

        viz = new NeoVis.default(config);
        viz.render();

        viz._network.body.emitter.on("_dataLoaded", function()
        {
            console.log('------------')
            console.log(viz._network)
            nodes = viz._data.nodes
            nodes.add({ id:2 , label:"Asd"})
        })

    }
</script>
</body>
</html>