<style>

    .card                          {   margin       : 0px   ;                     }
    #card-response                 {   height       : 100%  ;                     }
    #repl                          {   margin       : 5px   ;                     }
    #repl           .col-10        {   padding-right: 0px   ;                     }
    #repl           .col-2         {   padding-left : 5px   ;                     }
    #card-code     .card-header    {   padding      : 0px   ; padding-left: 5px;  }
    #card-code     .card-actions a {   padding      : 0px   ;                     }
    #card-code     .card-actions i {   color        : black ;                     }
    #card-code     .card-body      {   padding      : 0px   ;                     }
    #card-response .card-header    {   padding      : 0px   ; padding-left: 5px;  }
    #card-response .card-body      {   padding      : 0px   ;                     }

    #card-response textarea {
        position  :absolute;
        bottom    : 0px;
        top       : 20px;
        left      : 0px;
        right     : 2px;
        padding   : 5px;
        font-size : 12px;
    }
</style>